
*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    background-color: red;
}

#prince{
    width: 95%;
    height: 900px;
    margin: 20px auto;
    background-color: white;
}

#banner{
    width: 300px;
    height: 40px;
    margin-left: 500px;
    border: 2px solid black;
}

h1{
    color: red;
    text-align: center;
}