
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    height: 100%;
}

body{
    background-color: red;
}

#prince{
    width: 1350px;
    height: 900px;
    margin: 20px auto;
    padding-top: 30px;
    background-color: white;
}

#banner{
    width: 300px;
    margin: auto;
    border: 5px double red;
}

h1{
    color: black;
    text-align: center;
}