
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    height: 100%;
}

body{
    background-color: red;
}

#prince{
    width: 1350px;
    height: 900px;
    margin: 20px auto;
    padding-top: 30px;
    background-color: white;
}

#banner{
    width: 300px;
    margin: auto;
    border: 5px double red;
}

h1{
    color: black;
    text-align: center;
}

#photos{
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    border: 2px solid red;
    width: 1250px;
    height: 100px;
}

.one{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 7px solid black;
}